@mixin breakpoint($bp){

  @if $bp == tablet {
    @media (min-width: $sbp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $sbp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $sbp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $sbp-desktop-xl) {
      @content;
    }
  }
  
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;

}
