 .container-principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: $spacing-md;
  gap: 78px; //separaci칩n entre p치ginas
  background-image: url(../img/textura_tela_fondo3.png);//el color es #cec3b4
  background-repeat: repeat;
  background-size: 50%;
}//colocaci칩n de las paginas y separaciones

.cv-section, .carta-section {
    
    background-image: url(../img/textura_papel.png); //el color es #d3cfc7
    width: $a4-width;
    height: $a4-height;
    margin-bottom: 200px; 
    padding: 40px 28px; //margenes para todo el contenido exterior
   
    box-shadow: 
        // Sombra interna para relieve (arriba clara, abajo oscura)
        inset 0 1px 3px rgba(255, 255, 255, 0.9),
        inset 0 -1px 2px rgba($black, 0.08),
        
        // Sombras externas en capas
        0 2px 5px rgba($black, 0.1),
        0 5px 15px rgba($black, 0.15),
        0 15px 35px rgba($black, 0.2);
    
    border: 1px solid rgba(211, 207, 199, 0.6); // #d3cfc7 con opacidad
    
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 90%; // Comienza al final del elemento
        left: 10%;
        right: 10%;
        height: 40px;
        background: rgba($black, 0.2);
        z-index: -1; // Detr치s del elemento principal
        filter: blur(25px);
        border-radius: 50%;
        opacity: 0.4;
    }
}