//definimos las dos paginas del grid: cv en varias páginas

.cv-page-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;


    .cv-header {
        grid-column: span 2 / span 2;

        
    }

    .cv-contact {
        grid-row-start: 2;
    }

    .cv-about {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .cv-education {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .cv-skills {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-row-end: 6;
     
    }

    .cv-experience-p1 {
        grid-row: span 4 / span 4;
        grid-column-start: 2;
        grid-row-start: 2;            
        // Aplica el borde vertical
        border-left: 1px solid $color-light-grey; 
        padding-left: 20px; // Espacio entre el texto y la línea
    }
}
.cv-page-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    .cv-header-p2 {
        grid-column-start: 1; 
        grid-row-start: 1;
    }
    .title-section2 {
        grid-row-start: 2;
    }

    .cv-experience-left {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 5;
        border-right: 1px solid $color-light-grey; 
        padding-right: 20px;
    }
    
    .cv-experience-right {
        grid-row: span 3 / span 3;
        grid-column-start: 2;
        grid-row-start: 2;
    }
}