p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 18px; 
}






// Tipografía principal
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Tamaños base para el cuerpo de texto
$font-size-base: 12px;
$line-height-base: 16px;

// Aplica fuentes al proyecto
body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 500;
  color: $color-primary;
}

// Encabezados
h1{
  font-family: $font-primary;
  font-size: 24px;
  font-weight: $font-medium;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: $color-primary;
  font-family: $font-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-secondary;
  color: $color-grey;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */

}

ul {
  margin: 0;
  padding-left: 18px; //sangrado
}